body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    animation: blinker 1s linear infinite;
    color: white;
    background-color: red;
    font-size: 3.8em;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.square {
    background: #fff;
    border: 2px solid black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20%;
}

.square.clicked {
    opacity: 0.3;
    background-color: gray;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-width: 700px;
    flex-basis: auto;
    flex-grow: 1;
}

.game-board {
    position: absolute;
    top: 5px; right: 0; bottom: 0; left: 10px;
}

.game-info {
    margin-left: 20px;
}

.image {
    height: 100%;
}

.text-value {
    text-align: center;
}